
html, body, #main {
    height: 100%;
    font-family: 'Montserrat', sans-serif;

}
body{
    background: rgb(61,217,68);
background: linear-gradient(207deg, rgba(61,217,68,1) 0%, rgba(0,212,255,1) 100%);
}

header{
    margin: auto !important;
}

#main {

    position: relative;
    width: 35%;
    margin: auto;
    padding: 1em;


}

.paragraph-style{
    margin-top: 5px;
    margin-bottom: 5px;
    background: #fff;
    padding: 0.5em;

}

p:hover{
    text-decoration: line-through;
}

#button{

    height: 100px; width: 100px;
    float: right;
    background: rgb(61,217,68);
    border: 0.5px solid black;
    padding: 4px;
}

#button:hover{
    background: rgb(61,217,68);
}

#text{

    margin-right: 0px;

}

#button, #text{
    height: 20px;
    font-size: 1.25;
}

